@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
  position: relative;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* Adjust this based on your header height */
}

.section {
  height: 100vh;
  padding-top: 60px;
  scroll-margin-top: 100px;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container h2 span {
  color: #00bbf0;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* *************************************************** */
/* Header Section */
/* *************************************************** */

.hero_area {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #0065BD 0%, #ffffff 100%);
  padding: 100px;
}

.hero_area .img-box {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_area .img-box img {
  width: 100%; /* Ensures the image fits the container */
  height: auto; /* Keeps the aspect ratio intact */
  max-height: 100%;
}

.hero_area .hero_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0); /* Make the text white for contrast against the gradient */
  padding: 20px; /* Add some padding for spacing */
}

.hero_area .hero_content h1 {
  font-size: 3rem; /* Adjust size */
  margin-bottom: 30px; /* Space between title and paragraph */
  font-weight: bold;
  text-align: center;
}

.hero_content p {
  text-align: justify;
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.hero_content .btn {
  background-color: #FADA08;
  color: rgb(000, 000, 000);
  padding: 10px 20px;
  width: fit-content;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  margin: 0 auto 0;
}

.header_section {
  padding: 15px 0;
  display: block;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

/* *************************************************** */
/* Header Section */
/* *************************************************** */

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #00bbf0;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.navbar {
  background-color: #0065BD;
  padding: 15px 30px;
}

.navbar-logo {
  height: 50px; /* Adjust size as needed */
  display: block;
  margin-right: 15px;
}    

/* *************************************************** */
/* Topic Section */
/* *************************************************** */

.topic_section {
  position: relative;
  margin-top: 40px;
  height: 70vh;
  margin-bottom: -50px;
  background-color: #0065BD;
  scroll-margin-top: -40px;
}

.topic_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #f8f8f9;
  padding: 20px;
  border-radius: 5px;
}

.topic_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 125px;
  min-width: 75px;
  height: 75px;
  margin-bottom: 15px;
}

.topic_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.topic_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.topic_section .box .detail-box a {
  color: #00204a;
  font-weight: 600;
}

.topic_section .box .detail-box a:hover {
  color: #00bbf0;
}

.topic_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}

.topic_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #0065BD;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.topic_section .btn-box a:hover {
  background-color: #007fa4;
}
.topic_section .detail-box{
  min-height: 14em;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ensures the content expands to fill available space */
}

.topic_section .detail-box h5 {
  min-height: 2.5em; /* Ensures at least 2 lines of text */
  display: flex;
  align-items: center; /* Centers shorter titles */
  justify-content: center; /* Optional: Centers text horizontally */
  text-align: center;
  overflow-wrap: break-word;
}

.topic_section .detail-box a {
  margin-top: auto; /* Moves the button to the bottom */
  text-align: center;
  align-items: center; /* Centers shorter titles */
  justify-content: center; /* Optional: Centers text horizontally */
  display: flex;
  overflow-wrap: break-word;
}

.topic_section .detail-box p {
  text-align: justify;
  flex-grow: 1; /* Pushes the "Read More" button to the bottom */
}

.topic_section h2 span {
  color: #ffcc00;
}

/* *************************************************** */
/* Planning Section */
/* *************************************************** */

.planing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  margin-bottom: 0px;
  background-color: #0065BD;
}

.planing-section h2 {
  position: relative;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -40px;
}

.planing-section h2 span {
  color: #ffcc00;
}

.planing-section table {
  width: 80%;
  border-collapse: collapse;
  border-radius: 0px;
  margin: auto;
}

.planing-section .horario-header {
  font-weight: bold;
}

.planing-section .horario-header th {
  background-color: #ffcc00;
  color: #0065BD;
}

.planing-section th, td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.planing-section tr {
  height: 70px;
}

.planing-section th {
  background-color: #0065BD;
  color: white;
}

.planing-section .horario {
  background-color: #caf0f8;
  font-weight: bolder;
  font-size: larger;
  padding: 50px; /* More padding for thickness */
}

.planing-section .almoco {
  background-color: #ffae00;
  font-weight: bolder;
  font-size: larger;
}

.planing-section .almoco-row {
  background-color: #ffdd57;
}

.planing-section .nao-almoco-row {
  background-color: #ffffff;
}

/* *************************************************** */
/* Application Section */
/* *************************************************** */

.application_section {
  background-color: #5a5a5a;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.application_section .application_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0); /* Make the text white for contrast against the gradient */
  padding: 20px; /* Add some padding for spacing */
}

.application_section .application_content h1 {
  font-size: 3rem; /* Adjust size */
  margin-bottom: 30px; /* Space between title and paragraph */
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.application_section .application_content p {
  text-align: center;
  color: #afafaf;
  margin-top: 20px;
}

.application_section .application_content .btn {
  background-color: #FADA08;
  color: rgb(000, 000, 000);
  padding: 10px 20px;
  height: 100px;
  width: fit-content;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  margin: 0 auto 0;
  align-content: center;
  font-weight: bold;
}

/* *************************************************** */
/* About Section */
/* *************************************************** */

.about_section {
  background-color: #0065BD;
  color: #ffffff;
  scroll-margin-top: -20px;
  height: 100vh;
}

.about_section .heading_container {
  margin-bottom: 5px;
}

.about_section .heading_container h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
}

.about_section .detail-box h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.about_section .detail-box p {
  margin-top: 15px;
  text-align: justify;
}

.about_section h2 span {
  color: #FADA08;
}

.about_section .detail-box h3{
  color: #FADA08;
}

/* *************************************************** */
/* Goal Section */
/* *************************************************** */

.goal_section {
  margin-top: 70px;  /* Adds space above the section */
  margin-bottom: 15px; /* Adds space below the section */
}

.goal_section h2{
  font-weight: bold;
  color: #FADA08;
}

.goal_section p span {
  color: #0065BD;
  font-weight:bold
}

.goal_section-left {
  padding-right: 30px; /* Adds space to the right of the video */
}

.goal_section-right {
  padding-left: 30px; /* Adds space to the left of the text */
}

.goal_section .heading_container {
  margin-bottom: 5px;
}

.goal_section .heading_container h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.goal_section .img-box img {
  max-width: 100%;
}

.goal_section .detail-box {
  margin-top: 40px;
}

.goal_section .detail-box h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  color: #FADA08;
}

.goal_section .detail-box p {
  margin-top: 15px;
  text-align: justify;
}

/* *************************************************** */
/* Info Section */
/* *************************************************** */

.info_section {
  background-color: #00204a;
  color: #ffffff;
  padding: 45px 0 0 0;
  margin-top: 30px;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_col {
  margin-bottom: 30px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #00bbf0;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: #00bbf0;
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_links a:hover {
  color: #00bbf0;
}

.info_section form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::placeholder {
  color: #ffffff;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.info_section form button:hover {
  background-color: #007fa4;
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.footer_section p {
  color: #00204a;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */

/* *************************************************** */
/* Team Section */
/* *************************************************** */

.team-section {
  padding: 50px 20px;
  background-color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
  scroll-margin-top: -40px;
}

.team-section h2 {
  margin-bottom: 20px;
}

.team-section h2 span{
  margin-bottom: 20px;
  color: #0065BD;
}

.team-section .team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.team-section .team-member {
  width: 200px;
  text-align: center;
  padding: 20px 0 20px 0;
  margin-left: 60px;
  margin-right: 60px;
}

@keyframes borderAnimation {
  0% { border-color: black; }
  50% { border-color: blue; }
  100% { border-color: black; }
}

.team-section .team-member img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  border-radius: 10px;
  animation: borderAnimation 3s infinite;
}

.team-section .team-member h4 {
  margin-top: 10px;
  font-size: 18px;
}

.team-section .team-member p {
  font-size: 14px;
  color: gray;
}

.team-section .team-member a {
  display: block;
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

/* *************************************************** */
/* Sponsors Section */
/* *************************************************** */

.sponsors_section {
  text-align: justify;
  box-sizing: border-box;
  background-color: #ffffff;
  display: inline;
  float: left;
  width: 100%;
}

.sponsors_section .sponsors_section_area {
  display: inline;
  float: left;
  width: 100%;
}

.sponsors_section .sponsors_section_area .sponsors_section_title {
  text-align: center;

}

.sponsors_section .sponsors_section_area .sponsors_section_title h2 {
  font-weight: bold;
}

.sponsors_section .sponsors_section_area .sponsors_section_content {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

.sponsors_section .sponsors_section_area .sponsors_section_content .row{
  margin-right: -15px;
  margin-left: -15px;
}

.sponsors_section .sponsors_section_area .sponsors_section_content .row .sponsors_section_single{
  display: inline;
  float: left;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.sponsors_section .sponsors_section_area .sponsors_section_content .row .sponsors_section_single img{
  border: none;
  max-width: 200px;
}

